
.my-orders .dl-card-product__head {
  min-width: 102px;
  min-height: 96px;
}

.my-orders .dl-card-product__body > h6.dl-comp-text-nano {
  max-width: 146px;
}

.my-orders .dl-image.dl-image--image.dl-image-md {
  max-width: 70px;
  max-height: 70px;
  min-width: 70px;
  min-height: 70px;
  width: 70px;
  height: 70px;
}

.my-orders .dl-action-button > i {
  display: none;
}